<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAY95V2MSA9ahWtehKCmTw1c5o9Ul0r_0A</string>
	<key>GCM_SENDER_ID</key>
	<string>654248867512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inkandecho</string>
	<key>PROJECT_ID</key>
	<string>ink-and-3cho</string>
	<key>STORAGE_BUCKET</key>
	<string>ink-and-3cho.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654248867512:ios:a05a7e3a4279f41288e64d</string>
</dict>
</plist>